ConsoleDisplay/XMLSchema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified">
  <xs:element name="Timeline">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="note">
          <xs:complexType>
              <xs:attribute name="date" type="xs:string"  use="required"/>
              <xs:attribute name="title" type="xs:string" use="required" />
            <xs:attribute name="body" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
